*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 60px!important;
}
ul{
    list-style-type: none;
}
ul.navbar-right{
    margin-right: 0;
}

div.footer{
    background-color: #eee;
    color: #555;
}
div.webstie-info{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1.5em;
}
div.webstie-info p{
    margin: 0;
}